In [1]:
import pandas as pd

Будем работать с датасетом по оттоку клиентов из банка https://www.kaggle.com/datasets/shubh0799/churn-modelling, но датасет из себя будет представлять две таблицы:

Личные данные клиента

CustomerId - Уникальный идентификатор клиента
Surname - Фамилия клиента
Geography - Из какой страны клиент
Gender - Пол клиента
Age - Возраст клиента
EstimatedSalary - Предположительная зарплата клиента
Данные по поведению клиента в банке

CustomerId - Уникальный идентификатор клиента
CustomerId - Уникальный идентификатор клиента
Tenure - Сколько лет человек является клиентом банка
Balance - Баланс счета
NumOfProducts - Количество открытых продуктов
HasCrCard - Есть ли у клиента кредитная карта
IsActiveMember - Является ли клиент активные участником
Exited - Уйдет ли человек в отток

In [3]:
users = pd.read_csv('Churn_Modelling.csv', sep=';')
users.head()

  RowNumber,CustomerId,Surname,CreditScore,Geography,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,Exited
0  1,15634602,Hargrave,619,France,Female,42,2,0,1...
1  2,15647311,Hill,608,Spain,Female,41,1,83807.86...
2  3,15619304,Onio,502,France,Female,42,8,159660....
3  4,15701354,Boni,699,France,Female,39,1,0,2,0,0...
4  5,15737888,Mitchell,850,Spain,Female,43,2,1255...

In [4]:
users.shape

(10000, 1)

Создание новых признаков