In [94]:
import pandas as pd
from tqdm import tqdm
tqdm.pandas()

In [102]:
df = pd.read_csv("kc_house_data.csv", encoding='cp1251')

In [105]:
#Вывести на экран первые 5 строк
df.head()

,id,price,bedrooms,bathrooms,sqft_living,sqft_lot,floors,waterfront,view,condition,grade,sqft_above,sqft_basement,yr_built,yr_renovated,sqft_living15,sqft_lot15
0,7129300520,221900.0,3,1.00,1180,5650,1.0,0,0,3,7,1180,0,1955,0,1340,5650
1,6414100192,538000.0,3,2.25,2570,7242,2.0,0,0,3,7,2170,400,1951,1991,1690,7639
2,5631500400,180000.0,2,1.00,770,10000,1.0,0,0,3,6,770,0,1933,0,2720,8062
3,2487200875,604000.0,4,3.00,1960,5000,1.0,0,0,5,7,1050,910,1965,0,1360,5000
4,1954400510,510000.0,3,2.00,1680,8080,1.0,0,0,3,8,1680,0,1987,0,1800,7503

In [89]:
#1.1 Создать новый признак price_per_sq_lot, который будет содержать стоимость за один кв. метр общей площади
price_per_sq_lot = df['price'] / df['sqft_lot']
df["price_per_sq_lot"] = price_per_sq_lot

In [90]:
#1.2 Создать новый признак delta_renovated, который будет содержать разницу в годах между годом реновацией дома и годом постройки дома. 
#Если реновации дома не было, то в новом признаке поставьте 0
df['delta_renovated'] = df['yr_renovated'] - df['yr_built']
df.loc[df['yr_renovated'] == 0, 'delta_renovated'] = 0

In [97]:
#1.3 Создайте признаки года продажи, месяца продажи
def date_ears(data):
    return data[:4]
date_ears = df['date'].progress_apply(date_ears)
df['date_ears'] = date_ears

def date_month(data):
    return data[4:6]
date_month = df['date'].progress_apply(date_month)
df['date_month'] = date_month

100%|██████████| 21613/21613 [00:00<00:00, 1442048.46it/s]
100%|██████████| 21613/21613 [00:00<00:00, 1354564.09it/s]

In [104]:
 #1.4 Удалите признаки date, zipcode, lat, long
#del df['date']
#del df['zipcode']
#del df['lat']
#del df['long']
#df = df.drop(columns="date")
#df = df.drop(columns="zipcode")
#df = df.drop(columns="lat")
#df = df.drop(columns="long")
df.drop(columns='date', inplace=True)
df.drop(columns='zipcode', inplace=True)
df.drop(columns='lat', inplace=True)
df.drop(columns='long', inplace=True)